<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="style/home.css">
</head> 
  <body>
   <%- include("./includes/navbar.ejs") %> 
   <main>
   <div class="container">
    <form action="/create-note" method="post" enctype="multipart/form-data">
        <div class="input-group mb-3 mt-3" >
          <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
          <input name="title" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group mb-3 mt-3">
          <span class="input-group-text" id="inputGroup-sizing-default">Category</span>
          <input name="category" type="text" class="form-control" value="default" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-group">
          <span class="input-group-text" id="inputGroup-sizing-default">Content</span>
          <textarea name="content" class="form-control rounded-0"  rows="8"></textarea>
        </div>
        <div class="form-group mt-4 text-center">
          <button type="button|submit" class="btn btn-dark px-4">Save</button>
        </div>
        <input type="file" name="image" placeholder="Your image here ...">
        <input type="hidden" name="_csrf" value="csrfToken" />
    </form>
    </div>
  </main>
   <%- include("./includes/js-boot.ejs") %> 
  </body>
</html>