<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="style/home.css">
</head> 
  <body>
   <main>
      <p>In order to reset your password click this <a href="<%= link %>">link</a> </p>
   </main>
  </body>
</html>
 