<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
</head> 
  <body>
   <%- include("./includes/navbar.ejs") %>
   <section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mt-4">
				<div class="col-md-6 text-center mb-1">
					<h2 class="heading-section">Login </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-5">
					<div class="login-wrap p-4 p-md-5">
		      	<div class="icon d-flex align-items-center justify-content-center">
		      		<span class="fa fa-user-o"></span>
		      	</div>
						<!-- ! MY-LOGIN-FORM -->
						<form action="/login" class="login-form" method="POST">
		      		
							<div class="form-group">
		      				<input name="email" type="email" class="form-control rounded-left my-2" placeholder="Email" required>
		      			</div>
	            		<div class="form-group d-flex">
	              			<input name="password" type="password" class="form-control rounded-left my-2" placeholder="Password" required>
							</div>
	            		<div class="form-group mt-4 text-center">
	            			<button type="button|submit" class="btn btn-dark ">Login</button>
	            		</div>

              			<div class="form-group mt-4 text-center">
	            			<a href="/signup" class="link-dark"> <p>don't have an account ?</p>  </a>
	            		</div>

	          		</form>
	        	</div>
				</div>
			</div>
		</div>
	</section> 

 
   <%- include("./includes/js-boot.ejs") %> 
  </body>
</html>
