<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="/style/welcome.css">
</head> 
  <body>
   <%- include("./includes/navbar.ejs") %> 
   <section id="hero" class="hero-container hero d-flex align-items-center">

      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">We offer modern solutions for growing your business</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">We are team of talented designers making websites with Bootstrap</h2>
            <div data-aos="fade-up" data-aos-delay="600">

              <div class="text-center text-lg-start">
                <a href="/signup" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                  <button type="button" class="btn btn-dark">Get started</button> 
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-lg-6 hero-img img-header" data-aos="zoom-out" data-aos-delay="200">
            <img src="img/hero-img.svg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
  
    </section><!-- End Hero -->
   <%- include("./includes/js-boot.ejs") %> 
  </body>
</html>
